<div class="p-4 ticket">
  <div class="ticket-info pt-4 position-relative">
    <div class="d-flex justify-content-around align-items-center mb-4">
      <div>
        <img style="width: 170px" src="../../../assets/images/ticket-type.png" alt="ticket type">
      </div>
      <div class="mt-4">
        <div class="ticket-info-title fs-28 fw-900 color-blue-2">
          Дневна карта
          <div class="ticket-info-divider"></div>
        </div>
        <div class="fs-20 fw-500 color-blue-2">за всички дневни линии</div>
      </div>
    </div>
    <div class="ticket-number text-center fs-20">
      <span>Номер: </span>
      <span class="ticket-info-number-digits fw-500">D0000----</span>
    </div>

    <img class="position-absolute ticket-info-town-img" src="../../../assets/images/ticket-town.png" alt="ticket town">
  </div>
</div>