@import '../../../assets/styles/libs/colors';

.ticket {
  &-info {
    border-radius: 3px;
    border: 1px solid $color-orange-2;
    &-title {
      width: 40vw;
    }
    &-divider {
      border-radius: 5px;
      height: 6px;
      background-color: $color-orange-2;
    }
    &-town-img {
      top: 10px;
      right: 10px;
      width: 17vw;
    }
    &-number{
      &-digits {
        letter-spacing: 1vw;
      }
    }
  }
}