<div class="p-4 ticket">
  <div class="ticket-info pt-4 mb-4 position-relative">
    <div class="d-flex justify-content-around align-items-center mb-3">
      <div>
        <img
          class="vw-33"
          src="../../../assets/images/ticket-type.png"
          alt="ticket type"
        />
      </div>
      <div class="mt-4">
        <div class="ticket-info-title fsvw-6 fw-900 color-blue-2">
          Дневна карта
          <div class="ticket-info-divider"></div>
        </div>
        <div class="fsvw-3-9 fw-500 color-blue-2">за всички дневни линии</div>
      </div>
    </div>
    <div class="text-center fsvw-5">
      <span>Номер: </span>
      <span class="fw-500 ls-0-6">{{ ticketNumber }}</span>
    </div>
    <img
      class="position-absolute ticket-info-town-img"
      src="../../../assets/images/ticket-town.png"
      alt="ticket town"
    />
  </div>

  <div [routerLink]="'/info'" class="text-center mb-4">
    <img class="vw-36" src="../../../assets/images/qr-code.png" alt="qr code" />
  </div>
  dsadas
  <div class="text-center fsvw-3-7 mb-4">
    Валидна за всички дневни линии по разписание на градския транспорт.
  </div>

  <div class="ticket-valid mb-4 fsvw-3-8">
    <div class="row justify-content-center">
      <div class="ticket-valid-title col-6 text-center bg-color-orange-1 py-1">
        Валидна
      </div>
    </div>
    <div class="ticket-valid-hours row text-center">
      <div class="hour-box col-3 py-1">
        <div class="color-blue-3 fw-700 fsvw-5">0</div>
        <div>дни</div>
      </div>
      <div
        class="hour-box col-3 py-1"
        [ngClass]="{ 'bg-color-orange-1': hours > 0 }"
      >
        <div class="color-blue-3 fw-700 fsvw-5">{{ hours }}</div>
        <div>часа</div>
      </div>
      <div
        class="hour-box col-3 py-1"
        [ngClass]="{ 'bg-color-orange-1': hours > 0 || minutes > 0 }"
      >
        <div class="color-blue-3 fw-700 fsvw-5">{{ minutes }}</div>
        <div>минути</div>
      </div>
      <div
        class="hour-box col-3 py-1"
        [ngClass]="{
          'bg-color-orange-1': hours > 0 || minutes > 0 || seconds > 0
        }"
      >
        <div class="color-blue-3 fw-700 fsvw-5">{{ seconds }}</div>
        <div>секунди</div>
      </div>
    </div>
  </div>

  <div class="text-center fsvw-3-8">
    <div class="color-blue-3 fw-500 ls-0-3">Допълнителна информация:</div>
    <div>
      За преглед на Допълнителна и детайлна информация за картата, натисни в
      полето на QR кода.
    </div>
  </div>
</div>
